@charset "UTF-8";
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

/* Навигація */
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
  /* gap: 50px; */
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-list .item:not(:last-child) {
  margin-right: 50px;
  /* gap: 50px; */
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* флекс для иконок в хедере */
.contact-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-icon-mail {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link-header:focus .header-icon-mail,
.contact-link-header:hover .header-icon-mail {
  fill: currentColor;
}

.header-icon-telephone {
  margin-right: 10px;
  fill: currentColor;
}

.contact-link-header:focus .header-icon-telephone,
.contact-link-header:hover .header-icon-telephone {
  fill: currentColor;
}

.section-hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bckgrd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.button {
  border-radius: 4px;
  width: 217px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

.benefits {
  padding-bottom: 0px;
}

.benefits-list {
  display: flex;
}

.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item {
  display: inline-block;
  width: 270px;
}

.benefit-icon-list {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */