:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-animation: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.title-hero {
  width: 696px;
  margin: 0 auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  color: var(--title-text-color);
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}
.benefits-title {
  font-size: 14px;
  color: var(--title-text-color);
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Логотип */
.logo {
  margin-right: 93px;
  font-family: "Raleway";
  color: var(--title-text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.26;
  letter-spacing: 0.03em;
  text-align: left;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-text-color);
}
.logo-white {
  color: var(--primary-white-color);
}
/* Стилізація тексту */
.benefits-text {
  margin-top: 10px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
/* Хедер */
.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

/* Навигація */
.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  position: relative;

  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
  /* gap: 50px; */
}
.contact-list {
  display: flex;
  align-items: center;
}
.contact-list .item:not(:last-child) {
  margin-right: 50px;
  /* gap: 50px; */
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* флекс для иконок в хедере */
.contact-list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link-header:focus .header-icon-mail,
.contact-link-header:hover .header-icon-mail {
  fill: currentColor;
}
.header-icon-telephone {
  margin-right: 10px;
  fill: currentColor;
}
.contact-link-header:focus .header-icon-telephone,
.contact-link-header:hover .header-icon-telephone {
  fill: currentColor;
}

/* Укритий заголовок */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Наша команда */
.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child {
  padding-bottom: 30px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.main-team-title {
  margin-bottom: 50px;
}

.team-soclist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soclist-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-social-item {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);

}
.team-soc-link:hover .team-social-item,
.team-soc-link:focus .team-social-item {
  fill: var(--primary-white-color);
}

/* Контакт-лист */
.contact-item {
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}

.contact-item:hover,
.contact-item:focus {
  color: var(--accent-color);
}
/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000033;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-color: transparent;
  border: 1px solid #0000001a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  
}
.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.input-label{
  display: block;
  margin-bottom: 4px;
}


.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
  
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
  color: var(--title-text-color);
  font-size: 18px;
  padding-left: 40px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  
}


.input-wrap {
  position: relative;
  
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
  
  
}

.modal-input:focus {
  border-color: var(--accent-color);
}
 .modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}


.modal-field {
  margin-bottom: 10px;
}
.text-area-field {
  margin-bottom: 20px;
}

.modal-text {
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
outline: transparent;
transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.modal-text:focus {
  border-color: var(--accent-color);
}
.modal-text::placeholder {
  font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;

color: rgba(117, 117, 117, 0.5);

}
.modal-button {
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.0;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.modal-button:hover,
.modal-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.label-text-modal {
  font-size: 12px;
line-height: 1.7;

letter-spacing: 0.01em;

}

.modal-link {
  color: var(--accent-color);
}
.checkbox-container{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.checkbox-text {
  line-height: 1.7;
  letter-spacing: 0.03em;
  display: inline-flex;
  align-items: center;
}
.checkbox-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition-property: background-color, fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.input-chek:checked + .checkbox-text span {
  background-color: var(--accent-color);
 border: none;
  fill: var(--primary-white-color);
  
}
.input-chek:focus + .checkbox-text span {
  border-color: var(--accent-color);
  
}
.modal-button-field {
  text-align: center;
}




  
  
  


/* Секция-герой */

.section-hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bckgrd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.button {
  border-radius: 4px;
  width: 217px;
  height: 50px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  border: none;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/* Бенефіти */
.benefits {
  padding-bottom: 0px;
}
.benefits-list {
  display: flex;
}
.benefits-list .item:not(:last-child) {
  margin-right: 30px;
}
.benefits-item {
  display: inline-block;
  width: 270px;
}

.benefit-icon-list {
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* About */
.about-list {
  display: flex;
}
.about-list .item {
  z-index: -1;
}
.about-list .item:not(:last-child) {
  margin-right: 30px;
}

.about-title {
  margin-bottom: 50px;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-logo {
  margin-right: 0;
}
.adress-link .item:not(:last-child) {
  margin-bottom: 9px;
}

/* Адреса */
.adress-map {
  color: var(--primary-white-color);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact-item {
  color: rgba(255, 255, 250, 0.6);
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.contact-link-header {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.contact-link-header:hover,
.contact-link-header:focus {
  color: var(--accent-color);
}

.footer-subscribe-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.subscribe-form {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--primary-white-color);
}
.subscribe-form::placeholder {
  font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);

 
}
.subscribe-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
.button {
}
.subscribe-button { 
  margin-top: 0;
  ;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}

/* Прибираю точки в списках */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.current {
  color: var(--accent-color);
}
/* мейн Портфоліо */
.project-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.adress-link {
  margin-top: 20px;
  font-style: normal;
}
.project-info {
  padding: 20px 24px 20px;
}
/* Кнопки портфоліо */
.button-list {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;

  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  transition-property: background-color, color, box-shadow, border-radius;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.button-list:hover,
.button-list:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.buttons .item:not(:last-child) {
  margin-right: 8px;
}

/* Сітка портфоліо */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list .item {
  width: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  border: 1px solid #eeeeee;
}
.portfolio-list-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  display: block;
}

.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--primary-animation);
}
.portfolio-image:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio-overlay-text {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}
.portfolio-overlay:hover {
  opacity: 1;
}

/* Постійні клієнти */
.client-list {
  display: flex;
  gap: 30px;
}

.client-item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.client-link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.client-list-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--primary-animation);
}
.client-link:hover {
  border: 1px solid var(--accent-color);
  
}
.client-link:hover .client-list-icon,
.client-link:focus .client-list-icon {
  fill: var(--accent-color);
}
.footer-soc-container {
  margin-right: 93px;
}
.footer-soclist {
  justify-content: start;
}

.footer-team-soclink {
  background-color: #ffffff1a;
}
.footer-soclist-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-social-item {
  fill: var(--primary-white-color);
}

.container-footer {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
}
.footer-info {
  margin-right: 70px;
}

/* Оверлеі */

.about-us-overlay {
  position: relative;
}
.label {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}
.label-text {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

